/* Global Styles */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #212121;
  color: #FFFFFF;
  font-size: 16px;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 1.25rem; 
}

/* Header */

header {
  background-color: #1DB954;
  padding: 1.25rem; 
  color: #121212;
}

header h1 {
  margin: 0;
  font-size: 1.5rem; 
}

/* Forms */

form {
  margin-bottom: 1.25rem;
}

form label {
  display: block;
  margin-bottom: 0.3125rem; 
  font-weight: bold;
}

form input[type="text"],
form input[type="password"],
form select {
  width: 100%;
  padding: 0.5rem; 
  margin-bottom: 0.625rem; 
  border: 0.0625rem solid #ccc; 
  border-radius: 0.25rem; 
  box-sizing: border-box;
}

form input[type="submit"] {
  padding: 0.625rem 1.25rem; 
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0.25rem; 
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #555;
}

/* Recommendation Page */

.recommendations {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.recommendation {
  background-color: #fff;
  padding: 1.25rem; 
  margin-bottom: 1.25rem;
  border-radius: 0.25rem; 
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.recommendation h2 {
  margin: 0;
  font-size: 1.25rem; 
  color: #333;
}

.recommendation p {
  margin: 0.625rem 0; 
  font-size: 1rem; 
  color: #666;
}

/* Links */

a {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  color: #1ed760;
}

main a {
  color: #FFFFFF;
  text-decoration: none;
}

main a:hover {
  color: #1ed760;
}

header a {
  color: #121212; /* Set initial color for header anchor */
}

header a:hover {
  color: #FFFFFF; /* Change color on hover for header anchor */
}