<!DOCTYPE html>
<html>
<head>
    <title>Artist Selection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <a href="{{ url_for('home') }}">
            <h1>Welcome to Music Discovery App!</h1>
        </a>    
    </header>
    <main>
        <h2>Search for an Artist</h2>
        <form action="{{ url_for('search_artist') }}" method="POST">
            <label for="artist_name">Artist Name:</label>
            <input type="text" id="artist_name" name="artist_name" required>
            <input type="submit" value="Search">
        </form>

        <h2>Results:</h2>
        {% if artist %}
            <h3>{{ artist.name }}</h3>
            <ul>
                {% for song in songs %}
                    <li>{{ song.name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No artist selected yet.</p>
        {% endif %}
    </main>
</body>
</html>
